:root{
    font-family: sans-serif;
    text-align: justify;
    color: rgb(10, 0, 46);
}

header > h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    text-decoration: underline;
}

h1::first-letter{
    text-transform: uppercase;
}

h1, h2{
    text-align: center;
}

section#text{
    padding: 0 3rem;
}
section.img{
    text-align: center;
}

section.img > img {
    width: 50%;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.815)
}